@model WebApplication.ViewModels.Companies.CompanyEditViewModel

@{
    ViewBag.Title = "Edit Company";
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Entity.Id)

    <div class="form-horizontal">
        @Html.Partial("_Editable", Model)
    </div>
}
